$mainText: whitesmoke;
$textAlt: #2f323a;
$mainColor: #33658a;
$protonColor: #ee3b3b;
$neutronColor: #4169e1;
$ubuntuFont: "Ubuntu", sans-serif;

* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    background-color: $mainText;
    color: $textAlt;
    overflow-x: hidden;
    font-family: $ubuntuFont;
    #navbar {
        background-color: transparent;
        padding: 0.5rem 3rem;
        .navbar-brand {
            width: 4rem;
            height: 4rem;
            svg {
                path {
                    stroke: $mainText;
                }
                &:hover {
                    path {
                        stroke: $protonColor;
                    }
                }
            }
        }
        a {
            font-size: 1.25rem;
            font-weight: 500;
            margin-left: 2rem;
            &:hover {
                color: $protonColor;
            }
            color: $mainText;
        }
    }
    .main {
        #welcome-section {
            background-color: $mainColor;
            color: $mainText;
            text-align: center;
            height: 100vh;
            padding: 0 2rem 0 2rem;
            .welcomeCanvas {
                width: 100%;
                background-color: transparent;
                margin: 0;
                padding: 0;
            }
            #welcomeText {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%);
                margin: 0;
                .textHighlight {
                    color: $protonColor;
                }
            }
        }
        #aboutSection {
            height: 50vh;
            background-color: $mainText;
            color: $textAlt;
            text-align: center;
            padding: 6rem;
            h2 {
                margin: 4rem 0;
            }
            .aboutCol {
                padding: 0 15%;
                #aboutPara {
                    font-size: 1.5rem;
                }
            }
        }
        .sectHeader {
            text-align: center;
            margin: 4rem 0;
        }
        #projects {
            height: 40vh;
            padding: 0 3rem;
            .projectCol {
                display: flex;
                justify-content: center;
                padding: 2rem 0;
            }
            .project-tile {
                text-align: center;
                background-color: $mainColor;
                color: $mainText;
                position: relative;
                width: 450px;
                height: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                .ImgContainer {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    .projectImg {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .projectTitles {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 50%;
                    padding: 4rem 0;
                }
                .projectLinks {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                }
            }
            .testingColor {
                background-color: #000000;
            }
        }
        footer {
            background-color: lightcoral;
            width: 100%;
            height: 150px;
            #socialIcons {
                // position: absolute;
                // bottom: 50px;
                display: flex;
                .socialWrapper {
                    display: block;
                    margin: 0 10px 0 0;
                    border: 2px solid whitesmoke;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    padding: 3px;
                    &:hover {
                        border: 2px solid lightgreen;
                        .socialSvg {
                            fill: lightgreen !important;
                        }
                    }
                    .socialSvg {
                        fill: whitesmoke !important;
                    }
                }
            }
            #copyrightContainer {
                // position: absolute;
                // bottom: 0;
                font-size: 14px;
            }
        }
    }
}

.updateNav {
    background-color: $mainText !important;
    border-bottom: 4px solid $mainColor;
    a {
        color: $textAlt !important;
        &:hover {
            color: $neutronColor !important;
        }
    }
    .navbar-brand {
        svg {
            path {
                stroke: $textAlt !important;
            }
            &:hover {
                path {
                    stroke: $neutronColor !important;
                }
            }
        }
    }
}
