$mainText: whitesmoke;
$textAlt: #2f323a;
$mainColor: #33658a;
$protonColor: #ee3b3b;
$neutronColor: #4169e1;
$ubuntuFont: "Ubuntu", sans-serif;

* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    background-color: $mainText;
    color: $textAlt;
    overflow-x: hidden;
    font-family: $ubuntuFont;
    #navbar {
        background-color: $mainColor;
        padding: 0.5rem 2rem 0.5rem 0;
        .navbar-brand {
            width: 4rem;
            height: 4rem;
            svg {
                path {
                    stroke: $mainText;
                }
                &:hover {
                    path {
                        stroke: $protonColor;
                    }
                }
            }
        }
        .navbar-toggler {
            width: 50px;
            height: 40px;
            border: 1px solid $mainText;
            &:hover {
                border-color: $protonColor;
                .line {
                    background-color: $protonColor;
                }
            }
            .line {
                width: 100%;
                float: left;
                height: 2px;
                background-color: $mainText;
                margin-bottom: 5px;
            }
        }
        a {
            font-size: 1.25rem;
            font-weight: 500;
            margin-left: 2rem;
            &:hover {
                color: $protonColor;
            }
            color: $mainText;
        }
    }
    .main {
        min-height: 100vh; /* Cover 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding: 0 0 200px 0 !important; /* Bottom padding same as height of footer */
        #welcome-section {
            background-color: $mainColor;
            color: $mainText;
            text-align: center;
            height: 100vh;
            padding: 0 2rem 0 2rem;
            .welcomeCanvas {
                width: 100%;
                background-color: transparent;
                margin: 0;
                padding: 0;
            }
            #welcomeText {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%);
                margin: 0;
                h1 {
                    font-size: 2rem;
                }
                .textHighlight {
                    color: $protonColor;
                }
            }
        }
        #aboutSection {
            height: 50vh;
            background-color: $mainText;
            color: $textAlt;
            text-align: center;
            padding: 6rem;
            margin-bottom: 12rem;
            h2 {
                margin: 4rem 0;
            }
            .aboutCol {
                padding: 0 15%;
                #aboutPara {
                    font-size: 1.5rem;
                }
            }
        }
        .sectHeader {
            text-align: center;
            margin-bottom: 6rem;
        }
        #projects {
            height: 40vh;
            padding: 0 3rem;
            margin: 0 0 10rem 0;
            background-color: $mainText;
            .projectCol {
                display: flex;
                justify-content: center;
                padding: 2rem 0;
                padding: 10px;
            }
            .project-tile {
                text-align: center;
                background-color: $textAlt;
                color: $mainText;
                position: relative;
                width: 300px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                .ImgContainer {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    .projectImg {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .projectTitles {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 50%;
                    padding: 4rem 0;
                }
                .projectLinks {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    .projectButtons {
                        border: 2px solid $mainColor;
                        border-radius: 20px;
                        text-decoration: none;
                        display: inline-block;
                        padding: 8px 8px;
                        width: 150px;
                        height: 40px;
                        color: $mainText;
                        &:hover {
                            background-color: $mainColor;
                        }
                    }
                }
            }
        }
        #contactSection {
            text-align: center;
            padding: 6rem;
            height: 50vh;
            margin-bottom: 10rem;
            form {
                margin: 0 auto;
                width: 50%;
                .form-control {
                    border: 4px solid $mainColor;
                    margin-bottom: 5px;
                    color: $mainColor;
                    background-color: $mainText;
                }
                button {
                    width: 100px;
                    height: 35px;
                    border: 2px solid $mainColor;
                    border-radius: 20px;
                    background-color: $mainColor;
                    color: $mainText;
                    &:hover {
                        background-color: $textAlt;
                    }
                }
            }
        }
        footer {
            position: absolute;
            bottom: 0;
            background-color: $mainColor;
            color: $mainText;
            width: 100%;
            height: 200px;
            #socialIcons {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                .socialWrapper {
                    display: block;
                    margin: 0 5px 0 0;
                    border: 2px solid whitesmoke;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    padding: 3px;
                    &:hover {
                        border: 2px solid $protonColor;
                        .socialSvg {
                            fill: $protonColor !important;
                        }
                    }
                    .socialSvg {
                        fill: whitesmoke !important;
                    }
                }
                #fccTests {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            #copyrightContainer {
                position: absolute;
                left: 50%;
                top: 70%;
                transform: translate(-50%);
                font-size: 14px;
            }
        }
    }
    ::placeholder {
        color: rgba(0, 0, 0, 0.5) !important;
    }
    #fcc_test_suite_wrapper {
        display: none;
    }
}

.updateNav {
    background-color: $mainText !important;
    border-bottom: 4px solid $mainColor;
    a {
        color: $textAlt !important;
        &:hover {
            color: $neutronColor !important;
        }
    }
    .navbar-brand {
        svg {
            path {
                stroke: $textAlt !important;
            }
            &:hover {
                path {
                    stroke: $neutronColor !important;
                }
            }
        }
    }
    .navbar-toggler {
        border-color: $textAlt !important;
        &:hover {
            border-color: $neutronColor !important;
            .line {
                background-color: $neutronColor !important;
            }
        }
        .line {
            background-color: $textAlt !important;
        }
    }
}

/* Media Queries Below */
@media screen and (max-width: 768px) {
    #welcomeText {
        bottom: 3rem !important;
        width: 100%;
    }
    #aboutSection {
        height: 60vh !important;
        padding: 0 !important;
    }
}
