$mainColor: teal;
$mainText: whitesmoke;

* {
    box-sizing: border-box;
    &:before, &:after{
        box-sizing: border-box;
    }
}

html,
body {
 height: 100%;
 position: relative;
}

body {
    background-color: $mainColor;
    color: $mainText;
    .main {
        #welcome-section {
            background-color: palegoldenrod;
            color: darkslategrey;
            padding: 100px;
            height: 100vh;
        }
    }
}