* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: whitesmoke;
  color: #2f323a;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}
body #navbar {
  background-color: transparent;
  padding: 0.5rem 3rem;
}
body #navbar .navbar-brand {
  width: 4rem;
  height: 4rem;
}
body #navbar .navbar-brand svg path {
  stroke: whitesmoke;
}
body #navbar .navbar-brand svg:hover path {
  stroke: #ee3b3b;
}
body #navbar a {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 2rem;
  color: whitesmoke;
}
body #navbar a:hover {
  color: #ee3b3b;
}
body .main #welcome-section {
  background-color: #33658a;
  color: whitesmoke;
  text-align: center;
  height: 100vh;
  padding: 0 2rem 0 2rem;
}
body .main #welcome-section .welcomeCanvas {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
body .main #welcome-section #welcomeText {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}
body .main #welcome-section #welcomeText .textHighlight {
  color: #ee3b3b;
}
body .main #aboutSection {
  height: 50vh;
  background-color: whitesmoke;
  color: #2f323a;
  text-align: center;
  padding: 6rem;
}
body .main #aboutSection h2 {
  margin: 4rem 0;
}
body .main #aboutSection .aboutCol {
  padding: 0 15%;
}
body .main #aboutSection .aboutCol #aboutPara {
  font-size: 1.5rem;
}
body .main .sectHeader {
  text-align: center;
  margin: 10rem 0 3rem 0;
}
body .main #projects {
  height: 40vh;
  padding: 0 3rem;
  margin: 0 0 10rem 0;
}
body .main #projects .projectCol {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
body .main #projects .project-tile {
  text-align: center;
  background-color: #33658a;
  color: whitesmoke;
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .main #projects .project-tile .ImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body .main #projects .project-tile .ImgContainer .projectImg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
body .main #projects .project-tile .projectTitles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  padding: 4rem 0;
}
body .main #projects .project-tile .projectLinks {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
body .main #projects .testingColor {
  background-color: #000000;
}
body .main footer {
  background-color: lightcoral;
  width: 100%;
  height: 150px;
}
body .main footer #socialIcons {
  display: flex;
}
body .main footer #socialIcons .socialWrapper {
  display: block;
  margin: 0 10px 0 0;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 3px;
}
body .main footer #socialIcons .socialWrapper:hover {
  border: 2px solid lightgreen;
}
body .main footer #socialIcons .socialWrapper:hover .socialSvg {
  fill: lightgreen !important;
}
body .main footer #socialIcons .socialWrapper .socialSvg {
  fill: whitesmoke !important;
}
body .main footer #copyrightContainer {
  font-size: 14px;
}

.updateNav {
  background-color: whitesmoke !important;
  border-bottom: 4px solid #33658a;
}
.updateNav a {
  color: #2f323a !important;
}
.updateNav a:hover {
  color: #4169e1 !important;
}
.updateNav .navbar-brand svg path {
  stroke: #2f323a !important;
}
.updateNav .navbar-brand svg:hover path {
  stroke: #4169e1 !important;
}

/*# sourceMappingURL=style.css.map */
