* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: whitesmoke;
  color: #2f323a;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}
body #navbar {
  background-color: #33658a;
  padding: 0.5rem 2rem 0.5rem 0;
}
body #navbar .navbar-brand {
  width: 4rem;
  height: 4rem;
}
body #navbar .navbar-brand svg path {
  stroke: whitesmoke;
}
body #navbar .navbar-brand svg:hover path {
  stroke: #ee3b3b;
}
body #navbar .navbar-toggler {
  width: 50px;
  height: 40px;
  border: 1px solid whitesmoke;
}
body #navbar .navbar-toggler:hover {
  border-color: #ee3b3b;
}
body #navbar .navbar-toggler:hover .line {
  background-color: #ee3b3b;
}
body #navbar .navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: whitesmoke;
  margin-bottom: 5px;
}
body #navbar a {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 2rem;
  color: whitesmoke;
}
body #navbar a:hover {
  color: #ee3b3b;
}
body .main {
  min-height: 100vh;
  /* Cover 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0 0 200px 0 !important;
  /* Bottom padding same as height of footer */
}
body .main #welcome-section {
  background-color: #33658a;
  color: whitesmoke;
  text-align: center;
  height: 100vh;
  padding: 0 2rem 0 2rem;
}
body .main #welcome-section .welcomeCanvas {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
body .main #welcome-section #welcomeText {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}
body .main #welcome-section #welcomeText h1 {
  font-size: 2rem;
}
body .main #welcome-section #welcomeText .textHighlight {
  color: #ee3b3b;
}
body .main #aboutSection {
  height: 50vh;
  background-color: whitesmoke;
  color: #2f323a;
  text-align: center;
  padding: 6rem;
  margin-bottom: 12rem;
}
body .main #aboutSection h2 {
  margin: 4rem 0;
}
body .main #aboutSection .aboutCol {
  padding: 0 15%;
}
body .main #aboutSection .aboutCol #aboutPara {
  font-size: 1.5rem;
}
body .main .sectHeader {
  text-align: center;
  margin-bottom: 6rem;
}
body .main #projects {
  height: 40vh;
  padding: 0 3rem;
  margin: 0 0 10rem 0;
}
body .main #projects .projectCol {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  padding: 10px;
}
body .main #projects .project-tile {
  text-align: center;
  background-color: #2f323a;
  color: whitesmoke;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .main #projects .project-tile .ImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body .main #projects .project-tile .ImgContainer .projectImg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
body .main #projects .project-tile .projectTitles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  padding: 4rem 0;
}
body .main #projects .project-tile .projectLinks {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
body .main #projects .project-tile .projectLinks .projectButtons {
  border: 2px solid #33658a;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 8px;
  width: 150px;
  height: 40px;
  color: whitesmoke;
}
body .main #projects .project-tile .projectLinks .projectButtons:hover {
  background-color: #33658a;
}
body .main #contactSection {
  text-align: center;
  padding: 6rem;
  height: 50vh;
  margin-bottom: 10rem;
}
body .main #contactSection form {
  margin: 0 auto;
  width: 50%;
}
body .main #contactSection form .form-control {
  border: 4px solid #33658a;
  margin-bottom: 5px;
  color: #33658a;
  background-color: whitesmoke;
}
body .main #contactSection form button {
  width: 100px;
  height: 35px;
  border: 2px solid #33658a;
  border-radius: 20px;
  background-color: #33658a;
  color: whitesmoke;
}
body .main #contactSection form button:hover {
  background-color: #2f323a;
}
body .main footer {
  position: absolute;
  bottom: 0;
  background-color: #33658a;
  color: whitesmoke;
  width: 100%;
  height: 200px;
}
body .main footer #socialIcons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
body .main footer #socialIcons .socialWrapper {
  display: block;
  margin: 0 5px 0 0;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 3px;
}
body .main footer #socialIcons .socialWrapper:hover {
  border: 2px solid #ee3b3b;
}
body .main footer #socialIcons .socialWrapper:hover .socialSvg {
  fill: #ee3b3b !important;
}
body .main footer #socialIcons .socialWrapper .socialSvg {
  fill: whitesmoke !important;
}
body .main footer #socialIcons #fccTests:hover {
  cursor: pointer;
}
body .main footer #copyrightContainer {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  font-size: 14px;
}
body ::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
body #fcc_test_suite_wrapper {
  display: none;
}

.updateNav {
  background-color: whitesmoke !important;
  border-bottom: 4px solid #33658a;
}
.updateNav a {
  color: #2f323a !important;
}
.updateNav a:hover {
  color: #4169e1 !important;
}
.updateNav .navbar-brand svg path {
  stroke: #2f323a !important;
}
.updateNav .navbar-brand svg:hover path {
  stroke: #4169e1 !important;
}
.updateNav .navbar-toggler {
  border-color: #2f323a !important;
}
.updateNav .navbar-toggler:hover {
  border-color: #4169e1 !important;
}
.updateNav .navbar-toggler:hover .line {
  background-color: #4169e1 !important;
}
.updateNav .navbar-toggler .line {
  background-color: #2f323a !important;
}

/* Media Queries Below */
@media screen and (max-width: 768px) {
  #welcomeText {
    bottom: 3rem !important;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
